@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

:host {
  --ds-auro-pane-border-color: var(--ds-color-border-tertiary-default, #{$ds-color-border-tertiary-default});
  --ds-auro-pane-boxshadow-color: var(--ds-color-border-tertiary-default, #{$ds-color-border-tertiary-default});
  --ds-auro-pane-container-color: var(--ds-color-container-secondary-default, #{$ds-color-container-secondary-default});
  --ds-auro-pane-day-of-week-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
  --ds-auro-pane-date-text-color: var(--ds-color-text-secondary-default, #{$ds-color-text-secondary-default});
  --ds-auro-pane-price-text-color: var(--ds-color-text-info-default, #{$ds-color-text-info-default});
  --ds-auro-pane-price-empty-text-color: var(--ds-color-text-secondary-default, #{$ds-color-text-secondary-default});
}
