@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-pane-border-color: var(--ds-basic-color-border-subtle, #{$ds-basic-color-border-subtle});
  --ds-auro-pane-boxshadow-color: var(--ds-advanced-color-boolean-indicator, #{$ds-advanced-color-boolean-indicator});
  --ds-auro-pane-container-color: var(--ds-advanced-color-boolean-isfalse, #{$ds-advanced-color-boolean-isfalse});
  --ds-auro-pane-day-of-week-text-color: var(--ds-basic-color-texticon-default, #{$ds-basic-color-texticon-default});
  --ds-auro-pane-date-text-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-pane-price-text-color: var(--ds-advanced-color-shared-text-accent, #{$ds-advanced-color-shared-text-accent});
  --ds-auro-pane-price-empty-text-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
}
